html {
  font-family: "Open Sans", sans-serif;
}

h1 {
  border-bottom: 1px solid #000;
}

@@media only screen and (min-width: 60em) {

  .pad-left {
    padding-left: .5rem
  }

  .pad-right {
    padding-right: .5rem
  }

}
